@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

*,
::after,
::before{
    margin: 0;
    box-sizing: border-box; 
    font-family: var(--fuente);
}

:root{
    --negroPrimario: #111;
    --negroSecundario: #000;
    --blancoPrimario: #fff;
    --rojo: #ff0000;
    --blancoSecundario: #d9d9d9;
    --fuente: 'Nunito', sans-serif;
}

body{
    background-color: var(--negroPrimario);
    font-size: 16px;
}


.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
}

.titulo{
    color: #ff0000;
    font-size: 1.7rem;
    padding: 0.7rem 4rem;
    border: 2px solid var(--blancoPrimario);
    border-radius: 10px;
    background-color: var(--negroPrimario);
}

.linea{
    border: 1px solid var(--blancoPrimario);
    width: 90%;
    position: absolute;
    left: 5%;
    z-index: -1;
}

i{
    color: #ff0000;
}




